body, html {
  margin: 0;
  height: 100%; }

.header {
  box-sizing: border-box;
  background-color: #2D89E6;
  width: 100%;
  text-align: center;
  height: 40px;
  font-size: 20px;
  padding-top: 10px; }

.page {
  display: flex;
  position: relative;
  height: calc(100% - 40px);
  overflow: hidden;
  justify-content: flex-end; }

.left-part {
  position: relative;
  margin: 20px 20px 0px 20px;
  border: 1px solid #C3C3C3;
  border-bottom: none;
  border-radius: 40px;
  overflow: hidden;
  height: 80%;
  width: 480px; }
  .left-part .left-part-header {
    text-align: center;
    font-size: 22px;
    color: #707070;
    padding: 20px; }

.form {
  height: 700px;
  display: flex;
  flex-direction: column; }
  .form input, .form textarea, .form select {
    margin: 5px 10px;
    border-radius: 10px;
    border: solid 1px #C3C3C3;
    padding: 5px;
    height: 50px;
    margin: 5px 25px; }
  .form .index {
    display: flex;
    align-items: center;
    margin: 0; }
    .form .index input {
      border-radius: 0px; }
  .form .input-index {
    height: 20px; }

select {
  color: #AEAEAE; }

.button {
  color: white;
  height: 50px;
  position: absolute;
  background-color: #2D89E6;
  border: none;
  width: 100%;
  margin: 0 !important;
  padding: 0px !important;
  border-radius: 0px 0px 10px 10px !important;
  bottom: 0;
  font-size: 20px; }

.right-part {
  width: 60%;
  margin-right: 100px;
  background-color: #F6F6F6;
  height: 100%; }

.right-part-pargraphs {
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto; }

.users {
  display: flex;
  flex-direction: column; }

.para {
  display: flex;
  margin-top: 50px; }
  .para img {
    padding: 10px; }
  .para .para-name {
    font-size: 20px; }
  .para .para-email-major-role {
    color: #2D89E6; }

.over {
  height: 40px;
  overflow: hidden; }

.select-border {
  border-left: 2px solid white;
  border-right: 2px solid white;
  margin: 0px 10px;
  padding: 0px 10px; }

.right-part-header {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 20px; }
  .right-part-header span {
    margin-right: 10px; }
  .right-part-header .right-header-part-right {
    background-color: #2D89E6;
    border-radius: 50px 0px 0px 50px;
    width: 10%;
    text-align: center;
    line-height: 40px; }
  .right-part-header .right-part-header-left {
    background-color: #2D89E6;
    padding: 10px;
    width: 70%;
    border-radius: 0px 50px 50px 0px;
    padding-left: 60px;
    display: flex; }
  .right-part-header select {
    border-radius: 8px;
    padding: 5px;
    width: 100px; }
  .right-part-header input {
    border-radius: 8px;
    width: 150px;
    padding: 2px; }

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  border: 1px solid;
  z-index: 0;
  background-color: white;
  width: 50%;
  height: 550px; }
  .popup .popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .popup .popup-content .name {
      font-size: 78px; }
    .popup .popup-content .email-major-role {
      padding: 20px 0px;
      font-size: 14px; }
    .popup .popup-content span {
      color: blue;
      padding: 0px 10px;
      font-size: 25px; }
  .popup .buttons {
    margin-top: 20px;
    display: flex;
    bottom: 0px; }
    .popup .buttons button {
      color: white;
      font-size: 20px;
      margin: 20px;
      width: 150px;
      height: 50px; }
    .popup .buttons .delete {
      background-color: #FF4A4A;
      border: none; }
    .popup .buttons .save {
      background-color: #2D89E6;
      border: none; }
    .popup .buttons .cancel {
      background-color: #707070;
      border: none; }
  .popup select, .popup input {
    color: #2D89E6; }

.hidden {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.47); }

/*# sourceMappingURL=style.css.map */
